input {
    padding: 5px 10px;
    outline: none;
    border: 2px solid Orange;
}
button {
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: #fff ;
    width: 300px;
}

form {
    border: 5px solid orchid;
    text-align: center;
}